.container-bg {
    background: #22223a;
}

.text-color {
    color: #FFFFFF;
}

.title-color {
    color: #22223a;
}

.hr-style {
    border: 5px solid #22223a;
    border-radius: 4px;
}

.img-border{
    border-radius: 8px;
}

.border-text{
    border: 2px solid #22223a;
    border-radius: 15px;
}

.req-table{
    border: 1px solid #22223a;
    background: lightgray;
    font-family: 'Jost', sans-serif;
    font-size: larger;
    color: #22223a;
}

.rounded-top-left{
    border-top-left-radius: 12px
}
.rounded-top-right{
    border-top-right-radius: 12px
}
.rounded-bottom-left{
    border-bottom-left-radius: 12px
}
.rounded-bottom-right{
    border-bottom-right-radius: 12px
}


.text-bg{
    background: lightgray;
}

.page-num-bg{
    background: #22223a;
    color: #FFFFFF;
}